<head>
    <title>Lights</title>
    <link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/pixelkit/swanky-outlines/256/15-Light-Bulb-icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background-color:#2C2F33;
    }

    ul {
        font-family: "Noto Sans JP";
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #23272A;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


    li a:hover {
        background-color: #7289DA;
    }

    .button {
        font-family: "Noto Sans JP";
        background-color: #00a2ff; 
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        width: 120px;
    }       

    .buttonUP {
        border-radius: 4px;
        margin-top: 10%;
        margin-left: 50%;
    }

    .buttonMIDDLE {
        border-radius: 4px;
        margin-top: 3%;
        margin-left: 50%;
    }

    .buttonDOWN {
        border-radius: 4px;
        margin-top: 3%;
        margin-left: 50%;
    }

</style>