<%- include("./head.ejs") %>

    <ul>
        <li><a href="#">Light Manager</a></li>
    </ul>

    <form method="post" action="/">
        <button class="button buttonUP" name="buttonUp"> Góra </button>
        <button class="button buttonMIDDLE" name="buttonMiddle"> Wszystko </button>
        <button class="button buttonDOWN" name="buttonDown"> Dół </button>
    </form>