<%- include("./head.ejs") %>

    <ul>
        <li><a href="#">Light Manager</a></li>
    </ul>

    <form method="post" action="/">
        <div class="centerize">
            <button class="button top" name="buttonUp"> Góra </button>

        </div>

        <div class="centerize">
        <button class="button middle" name="buttonMiddle"> Wszystko </button>
        </div>

        <div class="centerize">
            <button class="button middle" name="buttonDown"> Dół </button>
        </div>
    </form>